:root {
    --yellow: rgb(219, 192, 40);
    --grey: rgb(0, 0, 0);
}

html {
    background-repeat: no-repeat;
    background-clip: border-box;
    background-image: url("./backgrounds/cloudy.jpg");
    background-size: cover;
    color: #fff;
}

.app {
    margin: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.city-name {
    font-size: 1.4rem;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}

.daily-wrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.daily-icon {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 5px;
    margin: 0px;
    min-width: 100px;
    max-width: 130px;
    border-right: solid 1px black;
    background-color: rgb(0, 0, 0, 0.4);
}

.description {
    min-height: 50px;
}

.description p {
    margin: 0;
    font-size: 0.6rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.description p:last-child {
    font-size: 1rem;
}

.icon img {
    width: 60%;
    padding: 0 20% 5%;
}

.temperature {
    font-weight: 600;
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: dashed 1px black;
}

.temperature p {
    display: inline;
}

.temperature p:first-child {
    color: rgb(255, 243, 78);
}

.temperature p:last-child {
    color: rgb(125, 190, 252);
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.data p {
    margin: 0;
    align-self: center;
}

.data img {
    width: 30px;
    align-self: center;
}

@media screen and (max-width: 1200px) {
    .daily-wrapper {
        flex-wrap: wrap;
    }
}